/*

Základní syntaxe CSS

selector {
    vlastnost-1: hodnota;
    vlastnost-2: hodnota;
    vlastnost-3: hodnota;
    vlastnost-4: hodnota;
    ...
    vlastnost-5: hodnota;

}
*/

body {
    background-color: #e5c294;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 36px;
    margin: unset;
}

h1, h2 { /* dá se použít pro více věcí najednou*/
    color: brown;
}

header, footer {
    background-color: #35b0fc;
    /* 1 rem je většinou 16px */
    
    padding: 1rem;
}

footer p {
    margin: unset;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 0.5rem;
    padding: 0;
    flex-wrap: wrap;
}

nav li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100; /*odkazy a jejich kolonky jsou stejně velké */

}

nav a {
    display: block;
    background-color: #35b0fc;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 8px;
    white-space: nowrap; /*neopovolíme zalamovat text*/
}


p {
    /* rodina písma */
    font-family: 'Times New Roman', Times, serif;

    /* velikost textu */

    font-size: 18px;
    
}
/*pomocí tečky používáme třídy v css*/
.page-wrapper {
    width: 90%; /*kolik použijeme z dostupné šířky, je to jako vidět že z prava a z leva je taková mezera*/

    /*zarovnání na střed*/
    margin: 0 auto;
}

.grid-container {
    display: grid;
    gap: 1rem;
    /*grid-template-columns: auto auto; /*vytváří sloupce, kolik auto tolik sloupců (auto znamená že sloupce budou mít sjetnou šířku*/
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
/*auto-fit => vezme šířku a rozmístí podle toho jak se tam vejdou ty articly*/
/*minmax znamená, že web nepůjde zmenšit, tak aby tam byl třeba půl článku*/
.card {
    background-color: #e3e3e3;
    padding: 1rem;
    /*margin: 0.5rem;*/
    border-radius: 16px 50px;
    border: 4px solid;
}

