/*

Základní syntaxe CSS

selector {
    vlastnost-1: hodnota;
    vlastnost-2: hodnota;
    vlastnost-3: hodnota;
    vlastnost-4: hodnota;
    ...
    vlastnost-5: hodnota;

}
*/

body {
    background-color: #43e9ff;
    font-family: Arial, Helvetica, sans-serif;

}

p {
    /* rodina písma */
    font-family: 'Times New Roman', Times, serif;

    /* velikost textu */

    font-size: 18px;
}